Package: bal-xfce
Version: 1.0
Architecture: all
Maintainer: minhmc2007 <quangminh21072010@gmail.com>
Depends: xfce4
Description: Blue Archive Linux XFCE. Installs XFCE desktop and sets a custom wallpaper.
