[Desktop Entry]
Name=BlueArchive-Shiroko
X-KDE-PluginInfo-Name=bluearchive-shiroko
X-KDE-PluginInfo-Author=Blue Archive
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=Custom
X-KDE-PluginInfo-Version=1.0

[Wallpaper]
defaultFileSuffix=.jpg
File=contents/images/wallpaper.jpg
Name=BlueArchive-Shiroko
