[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Plasma/LookAndFeel
Name=BlueArchive-Shiroko
Name[en_US]=BlueArchive-Shiroko
Comment=Blue Archive Shiroko themed look and feel for KDE Plasma
Comment[en_US]=Blue Archive Shiroko themed look and feel for KDE Plasma
X-KDE-PluginInfo-Author=Minhmc2007
X-KDE-PluginInfo-Email=quangminh21072010@gmail.com
X-KDE-PluginInfo-Name=org.kde.bluearchive.shiroko
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/minhmc2007/Blue-Archive-Linux-Repo
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-License=Custom
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=defaults
